<Settings>
	<PackFolder src="F:\bin\patch_mod\" />
	<PackFolder src="F:\bin\dlc_solo\" />
	<PackFolder src="F:\bin\dlc_solo_english\" />
	<PackFolder src="F:\bin\dlc_pill_people\" />
	<PackFolder src="F:\bin\windy_city\" />
	<PackFolder src="F:\bin\windy_city_english\" />
	<PackFolder src="F:\bin\shaders\" />
	<PackFolder src="F:\bin\shadersobj\" />
	<PackFolder src="F:\bin\sound\" />
	<PackFolder src="F:\bin\sound_english\" />
	<PackFolder src="F:\bin\common\" />

	<patchDir src="F:\bin\patch_mod\" />
	<textDrawDistance src="5" />
	<drawBuildings src="0" />
</Settings>